.footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    height: 4.5rem;
    padding-top: 1rem;
    background-color: #424642;
}
  
p {
    color: rgb(0, 0, 0);
}

a {
    padding-left: 1rem;
    padding-right: 1rem;
}